@import url("root.css");

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* font-family: "Baloo 2", sans-serif; */
}

.logo {
  /* font-size: 1.75rem; */
  color: #9fbb73;
}

.nav-links {
  list-style: none;
  list-style-type: none;
  display: flex;
  gap: 2rem;
  
}

.navlink {
  text-decoration: none; 
  /* color: #555; */
  transition: color 0.2s;
  color: #9fbb73;
}

.navlink:hover {
  color: var(--accent-color-80);
}

.navlink.active {
  color: var(--accent-color-80);
}

.wrap-section {
  display: flex;
  justify-content: space-between;
}

.footer-section {
  text-align: start;
}

.footer-section h1 {
  margin: 0 0 1rem 0;
  color: white;
}

.footer-section h2 {
  font-size: 1rem;
  color: white;
}

.footer-section p {
  margin: 0;
  font-size: 1rem;
  color: white;
}

.footer-divider {
  height: 1px;
  background-color: #c5d6ab;
}

.social-icons {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 0; 
  margin: 0;
}

.footer-bottom p {
  margin: 0;
  text-align: center;
  font-size: 1rem;
  color: white;
}
